* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
}
p {
  text-align: justify;
}

header {
  background-color: #05393E;
  color: white;
  text-align: center;
  padding: 1rem 0;
  height: 120px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #17838c;
  border-radius: 4px;
  font-size: 0.9rem;
}

nav ul li a:hover {
  background-color: #0D5D63;
}

.secao-introducao {
  text-align: center;
  padding: 3rem 2rem;
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Segoe UI', sans-serif;
}

.secao-introducao h2 {
  font-size: 2rem;
  color: #004b4e;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
}

.secao-introducao p {
  font-size: 1.1rem;
  color: #000;
  line-height: 1.6;
}

.instagram-frase {
  margin-top: 3rem;
  font-size: 1.5rem;
  color: #0c5a62;
  font-weight: 500;
}
.instagram-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 2rem auto;
  max-width: 900px;
}

.instagram-page .pegadas {
  position: absolute;
  left: -500px;
  margin-left: 250;
  top: 1%;
  opacity: 0.8;
}

.instagram-page .insta-page {
  width: 100%;
  height: auto;
}

.pegadas-direita{
    position: absolute;
    right: -500px;
    margin-left: 100;
    top: 70%;
    opacity: 0.8;
}

footer {
  background-color: #05393E;
  color: white;
  text-align: center;
  padding: 1rem;
}

.footer-columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1rem;
}
footer {
  background-color: #05393E;
  color: white;
  text-align: center;
  padding: 1rem;
}

.footer-columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1rem;
}

footer p{
  text-align: center;
}

footer a{
  text-decoration: none;
  color: white;
}